<section class="section">
    <div class="container-fluid">
      <div class="columns">
        <div class='column is-one-quarter'>
          {{#admin-nav}}{{/admin-nav}}
        </div>
        <div class='column is-two-quarter'>
          {{outlet}}
        </div>
      </div>
    </div>
</section>  