{{outlet}}
<section class="section">
    <div class="container-fluid">
      <div class="columns">
        <div class='column'>
          <h1 class='title is-1 has-text-centered'>Woah.. Our bad. We are having a problem</h1>
          <figure class="image loading has-text-centered">
            <object type="image/svg+xml" data="/error.svg">Your browser does not support SVGs</object>
          </figure>
          <p class='has-text-centered title is-3'>Please try again soon</p>
        </div>
      </div>
    </div>
</section>