{{outlet}}
<section class="section">
    <div class="container-fluid">
      <div class="columns">
        <div class='column'>
          <h1 class='title is-1 has-text-centered'>Hang tight, we'll be there soon</h1>
          <figure class="image loading has-text-centered">
            <object type="image/svg+xml" data="/loading.svg">Your browser does not support SVGs</object>
          </figure>
        </div>
      </div>
    </div>
</section>