{{outlet}}
<section class="section">
    <div class="container-fluid">
      <div class="columns">
        <div class='column is-one-half is-offset-one-quarter'>
          <figure class="image is-128x128 animated pulse infinite">
            <img src='/logo5.svg' alt='Habitus logo' class='pulse'>
          </figure>
          <h1 class="title is-1">Hang on, let us get that for you</h1>
        </div>
      </div>
    </div>
</section>