<div class='homePage'>
  <section class="hero is-medium is-info is-bold">
    <div class="hero-body">
      <div class="container level">
        <figure class="image is-128x128 level-left">
          <img src="/logo2.svg" class='level-item'>
        </figure>
        <div class='level-item'>
          <h1 class="title">
            Habitus CMS
          </h1>
          <p class="subtitle has-margin-top-1">
            Elegant, minimal, complete.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container content">
      {{#with model as |page|}}
        {{{page.renderedContent}}}
      {{/with}}
    </div>
  </section>
</div>