{{outlet}}
<h1 class='title is-1'>List of pages {{#link-to 'admin.pages.new' class="button is-primary"}}
  Add New
{{/link-to}}</h1>
<div class="columns">
  {{#each model as |page|}}
    {{#if page.content}}
      {{#content-card class='column is-one-third'
        isEmpty=false
        isDeleted=page.isDeleted
        isFull=true
        title=page.title
        content=page
        extraClasses=''
        }}
        {{#link-to 'page' page.alias class="card-footer-item"}}View{{/link-to}}
        <a class="card-footer-item" {{action "editPage" page}}>Edit</a>
        <a class="card-footer-item" {{action "deletePage" page}}>Delete</a>
      {{/content-card}}
    {{/if}}
  {{else}}
    {{#content-card class='column is-fullwidth'
    isEmpty=true
    title='No Existing Pages'
    isFull=true
    extraClasses=''
    actionLink='admin.pages.new'}}
      <p>Since you don't have any existing pages, you'll need to create one to get started.</p>
    {{/content-card}}  
  {{/each}}
</div>