{{outlet}}
<section class='section'>
    <div class="container content">
      {{#with model as |page|}}
        {{{page.renderedContent}}}
        {{#if page.enableComments}}
          <hr/>
          {{#comment-form store=store type='page' model=page}}{{/comment-form}}
          {{#comment-container comments=page.comments}}{{/comment-container}}
        {{/if}}
      {{/with}}
    </div>
</section>