{{yield}}
<form>
  <label class="label title is-4">Page Title</label>
  <p class="control">
    <input class="input" type="text" placeholder="Index">
  </p>
  <label class="label title is-4">Page Alias</label>
  <p class="control">
    <input class="input" type="text" placeholder="Disabled input" disabled>
  </p>
  <label class="label title is-4">Page content <small class=''>Accepts markdown content</small></label>
  <p class="control">
    <textarea class="textarea" placeholder="##Page Content"></textarea>
  </p>
  <p class="control">
    <button class="button is-success">
      Save
    </button>
  </p>
</form>