{{outlet}}
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter card login__card">
          <header class="card-header">
            <h1 class="card-header-title title is-3">
              Login
            </h1>
          </header>
          {{login-form}}{{/login-form}}
        </div>
      </div>
    </div>
</section>