{{outlet}}
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            {{#login-form}}{{/login-form}}
        </div>
      </div>
    </div>
</section>